<h3 style="padding-top: 20%;">GALAXY GEM STUDENT PORTAL</h3>
{{#if user}}
<p>You are logged in..</p>
{{else}}
<div class="row" style="padding-bottom: 15%;">
    <div class="col-sm-4">
        <h1 class="center">
        <a href="/auth/facebook"><button type="button" class="btn btn-primary btn-lg">Login With Facebook</button></a>
        </h1>

        <h1 class="center">
            <a href="/auth/google"><button type="button" class="btn btn-danger btn-lg">Login With Google</button></a>
        </h1 class="center">
        <p class="center">or</p>

        <form action="/login" method="POST">
        {{#each success}}
        <p class="green">{{text}}</p>
        {{/each}}
        {{#each errors}}
        <p class="red">{{text}}</p>
        {{/each}}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="Enter email address">
        </div>
        <div class="form-group">
            <label for="password">Passsword</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Login</button>
        </form> <br>
        <a href="/newAccount" class="create-newAccount-button">Create New Account</a>
    </div>
</div>

{{/if}}